*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#020812;
font-family:Arial;
color:white;
padding:40px;
}

.container{
max-width:1400px;
margin:auto;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;

background:#07101d;

padding:50px;

border-radius:25px;

border:1px solid rgba(0,100,255,.2);

box-shadow:
0 0 50px rgba(0,110,255,.15);
}

h1{

font-size:80px;

background:linear-gradient(
90deg,
white,
#4f9cff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.hero p{
color:#7fa6d8;
letter-spacing:4px;
margin-top:10px;
}

.stats{

display:flex;
gap:30px;
margin-top:35px;

}

.stats div{

padding:15px;

background:#091423;

border-radius:15px;

}

.right img{

width:250px;

filter:drop-shadow(
0 0 30px #0066ff
);

}

.box{

margin-top:30px;

padding:30px;

background:#07101d;

border-radius:25px;

border:1px solid rgba(0,100,255,.2);

}

.title{
margin-top:35px;
margin-bottom:20px;
}

.cards{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}

.card{

background:#07101d;

padding:25px;

border-radius:20px;

transition:.4s;

border:1px solid rgba(0,100,255,.2);

}

.card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(0,110,255,.4);

}
box-shadow:
0 0 50px rgba(0,110,255,.15);
}
*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:#020812;
font-family:Arial;
color:white;
padding:40px;
}

.container{
max-width:1400px;
margin:auto;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;

background:#07101d;

padding:50px;

border-radius:25px;

border:1px solid rgba(0,100,255,.2);

box-shadow:
0 0 50px rgba(0,110,255,.15);
}

h1{

font-size:80px;

background:linear-gradient(
90deg,
white,
#4f9cff
);

-webkit-background-clip:text;
-webkit-text-fill-color:transparent;

}

.hero p{
color:#7fa6d8;
letter-spacing:4px;
margin-top:10px;
}

.stats{

display:flex;
gap:30px;
margin-top:35px;

}

.stats div{

padding:15px;

background:#091423;

border-radius:15px;

}

.right img{

width:250px;

filter:drop-shadow(
0 0 30px #0066ff
);

}

.box{

margin-top:30px;

padding:30px;

background:#07101d;

border-radius:25px;

border:1px solid rgba(0,100,255,.2);

}

.title{
margin-top:35px;
margin-bottom:20px;
}

.cards{

display:grid;

grid-template-columns:
repeat(4,1fr);

gap:20px;

}

.card{

background:#07101d;

padding:25px;

border-radius:20px;

transition:.4s;

border:1px solid rgba(0,100,255,.2);

}

.card:hover{

transform:translateY(-8px);

box-shadow:
0 0 30px rgba(0,110,255,.4);

}